/.venv
/__pycache__
/desecrated
/mysql
.env
*.db
keys.txt
notes.txt
chars.txt
requirements.txt
.prettierignore
config.py
database-revamp.py
database_connection.py
/Tesseract-OCR
test-workflow.yaml
.github/workflows
update.sh